# Plugins
Plugins/AzSpeech/Binaries/Win64/*.pdb
Plugins/AzSpeech/Binaries/Win64/*.modules
Plugins/AzSpeech/Intermediate
Plugins/FH_AchievementSystem/Binaries
Plugins/FH_AchievementSystem/Intermediate
Plugins/FH_INI/Binaries
Plugins/FH_INI/Intermediate
Plugins/HttpGPT/Binaries
Plugins/HttpGPT/Intermediate

# Project
.idea
.vs
Binaries
Build
DerivedDataCache
Intermediate
Saved
.vsconfig
*.sln
Config/NPC.ini